Source: python-ev3dev
Maintainer: Stefan Sauer <ensonic@google.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev (>= 2.6.6-3), 
 debhelper (>= 9), dh-python, libboost-dev, libboost-python-dev
Standards-Version: 3.9.5
Homepage: https://github.com/ddemidov/ev3dev-lang-python
Vcs-Browser: https://github.com/ddemidov/ev3dev-lang-python
Vcs-Git: https://github.com/ddemidov/ev3dev-lang-python.git

Package: python-ev3dev
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, 
 libboost-python1.55.0, python-pil
Description: Python language bindings for ev3dev
 This is a Python library implementing unified interface for ev3dev devices.
